
*{
  padding: 0;
  margin: 0;
  font-family: 'Sniglet', cursive;
}



/*VARIABLES*/
h1, h2 {
  font-family: 'Sniglet', cursive;
  font-size: 4rem;
}


p {
  font-family: 'Cabin', sans-serif;
  font-size: 25px;
  line-height: 2rem;
}


nav {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  padding-top: 8rem;
  padding-bottom: 15rem;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.name, {
  margin: 0 auto;
}

#projects,  {
  margin-bottom: 8rem;
}

.project1-image {
  border: solid;
  padding: 1rem;
  float: right;
}



#contact {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.btn {
  border-radius: 3rem;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: 600rem;
}

.card-title {
  text-align: center;
}

.d-sm-block {
  position: fixed;
  color: silver;
  cursor: pointer;
  right: 1px;
  bottom: 180px;
}

.d-md-block {
  position: fixed;
  color: silver;
  cursor: pointer;
  right: 1px;
  bottom: 180px;
}

.d-lg-block {
  position: fixed;
  color: silver;
  cursor: pointer;
  right: 1px;
  bottom: 180px;
}

/*# sourceMappingURL=style.css.map */
